# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea/
## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/


### Custom ###
*.log
logs/
ext/
#!/source/dcm/dcm-db-jooq/build

prototype/


.idea/workspace.xml